<header>
    <a href="home.html">
        <picture class="icon">
            <!-- New Cara Nail logo -->
            <img src="images/icons/NCN-icon.png" alt="Home">
        </picture>
    </a>
    <nav>
        <ul>
            <li><a href="gallery.html">Gallery</a></li>
            <li><a href="#services">Services</a></li>
            <li>Contact</li>
            <li>Map</li>
            <li>Book Now</li>
        </ul>
    </nav>
    <picture class="icon">
        <!-- free public resource found on google -->
        <img src="images/icons/menu-bar.png" alt="menu_bar">
    </picture>
</header>
